.A{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.b{
    width: 200px;
    height: 20px;
    background-color:red;
}
.c{
    width: 200px;
    height: 20px;
    background-color:blue;
}

.f2{
    background-color: green;
    width: 350px;
    height: 20px;
}
.f3{
    background-color: blue;
    width: 50px;
    height: 20px;
}
.f4{
    background-color: red;
    width: 50px;
    height: 20px;
}
.f5{
    background-color: green;
    width: 300px;
    height: 20px;
}
.f1{
    background-color: blue;
    width: 50px;
    height: 20px;
}
.f6{
    background-color: red;
    width: 350px;
    height: 20px;
}
.f7{
    background-color: blue;
    width: 50px;
    height: 20px;;
}
.f8{
    background-color: green;
    width: 400px;
    height: 20px;
}
.f9{
    margin-top: 2px;
    margin-bottom: 2px;
    background-color: red;
    width: 10px;
    height: 15px;
}

.a1{
    background-color:red;
    width:190px ;
    height: 20px;
}
.a2{
    background-color: blue;
    width: 20px;
    height: 20px;

}
.a3{
    background-color: red;
    width: 190px;
    height: 20px;
}

.b1{
    background-color: red;
    width: 20px;
    height: 20px;

}
.b2{
    background-color: blue;
    width: 380px;
    height: 20px;
}
.b3{
    background-color: green;
    width: 380px;
    margin-top: 5px;
    margin-bottom: 5px;
    height:8px ;
}
.c1{
    background-color: orange;
    width: 20px;
    height: 20px;

}
.c2{
    background-color: green;
    width: 75px;
    height: 20px;
}
.d1{
    background-color: orange;
    width: 68px;
    height: 20px;


}
.d2{
    background-color: green;
    width: 15px;
    height: 20px;
}
